mixin methodDef(method)
    - if (method.scope === 'static')
        span.scope static&nbsp;
    - if (method.returns)
        span.returns
            each type, j in method.returns.types
                a.returnType(href=type.link, title=type.longName)=type.name
                - if (j < method.returns.types.length - 1)
                    span.or='|'
            &nbsp;
    - else if (method.types)
        span.returns
            each type, j in method.types
                a.returnType(href=type.link, title=type.longName)=type.name
                - if (j < method.types.length - 1)
                    span.or='|'
            &nbsp;
    span.name=method.name
    - if (method.params)
        span.params
            span.paren &#40;
            each param, i in method.params
                - if (param.optional)
                    span.opt [
                - if (i !== 0)
                    span.sep=','
                each type, j in param.types
                    a.paramType(href=type.link, title=type.longName)=type.name
                    - if (j < param.types.length - 1)
                        span.or='|'
                &nbsp;
                span.param=param.name
                - if (param.optional)
                    span.opt ]
            span.paren &#41;


- if (cl.module)
    div.module.section
        h3.section-header(rel='/#/' + module + '#SOverview') Overview
            div.section-meta
                a(class='section-permalink', href='/#/' + module + '#SOverview', alt='Permalink to ' + module + ' overview', title='Permalink to ' + module + ' overview')
                    i.icomoon-hash
        div.subsection
            div.description!=cl.module.description

- if (cl.meta && cl.meta.deps)
    div.dependencies.section
        h3.section-header(rel='/#/' + module + '#SDependencies') Dependencies
            div.section-meta
                a(class='section-permalink', href='/#/' + module + '#SDependencies', alt='Permalink to ' + module + ' dependencies', title='Permalink to ' + module + ' dependencies ')
                    i.icomoon-hash
        div.subsection
            ul
                each dep in cl.meta.deps
                    - if (dep.link)
                        li
                            a(href=dep.link)=dep.path
                    - else
                        li=dep.path

- if (cl.constructor && cl.constructor.kind === 'class')
    div.constructors.section
        h3.section-header(rel='/#/' + module + '#SConstructor') Constructor
            div.section-meta
                a(class='section-permalink', href='/#/' + module + '#SConstructor', alt='Permalink to ' + cl.constructor.longName, title='Permalink to ' + cl.constructor.longName)
                    i.icomoon-hash
                a(class='section-srclink', alt='View Source', title='View Source', href=config.repoview + cl.constructor.meta.path + '/' + cl.constructor.meta.filename + '#L' + cl.constructor.meta.lineno)
                    i.icomoon-code
        div.constructor.subsection
            h4(rel=cl.constructor.link)
                mixin methodDef(cl.constructor)
            div.description!=cl.constructor.description

- if (cl.properties && Object.keys(cl.properties).length)
    div.properties.section
        h3.section-header(rel='/#/' + module + '#SProperties') Properties
            div.section-meta
                a(class='section-permalink', href='/#/' + module + '#SProperties', alt='Permalink to ' + module + ' properties', title='Permalink to ' + module + ' properties')
                    i.icomoon-hash
        each key in Object.keys(cl.properties).sort()
            - var prop = cl.properties[key]
            - var clazz = (prop.inherited || prop.overridden) ? 'inherited property subsection' : 'property subsection'
            div(class=clazz, rel=prop.link)
                h4.subsection-header
                    mixin methodDef(prop)
                    div.meta
                        a(class='permalink', href=prop.link, alt='Permalink to ' + prop.longName, title='Permalink to ' + prop.longName)
                            i.icomoon-hash
                        a(class='srclink', alt='View Source', title='View Source', href=config.repoview + prop.meta.path + '/' + prop.meta.filename + '#L' + prop.meta.lineno)
                            i.icomoon-code
                - if (prop.inherited)
                    div.inherit-info
                        span inherited from&nbsp;
                        a(title=prop.inherited.longName, href=prop.inherited.link)=prop.inherited.name
                - if (prop.overridden)
                    div.override-info
                        span overridden from&nbsp;
                        a(title=prop.overridden.longName, href=prop.overridden.link)=prop.overridden.name
                div.description!=prop.description

- if (cl.methods && Object.keys(cl.methods).length)
    div.methods.section
        h3.section-header(rel='/#/' + module + '#SMethods') Methods
            div.section-meta
                a(class='section-permalink', href='/#/' + module + '#SMethods', alt='Permalink to ' + module + ' methods', title='Permalink to ' + module + ' methods')
                    i.icomoon-hash
        each key in Object.keys(cl.methods).sort()
            - var method = cl.methods[key]
            - var clazz = (method.inherited || method.overridden) ? 'inherited method subsection' : 'method subsection'
            div(class=clazz, rel=method.link)
                h4.subsection-header
                    mixin methodDef(method)
                    div.meta
                        a(class='permalink', href=method.link, alt='Permalink to ' + method.longName, title='Permalink to ' + method.longName)
                            i.icomoon-hash
                        a(class='srclink', alt='View Source', title='View Source', href=config.repoview + method.meta.path + '/' + method.meta.filename + '#L' + method.meta.lineno)
                            i.icomoon-code
                - if (method.inherited)
                    div.inherit-info
                        span inherited from&nbsp;
                        a(title=method.inherited.longName, href=method.inherited.link)=method.inherited.name
                - if (method.overridden)
                    div.override-info
                        span overridden from&nbsp;
                        a(title=method.overridden.longName, href=method.overridden.link)=method.overridden.name
                div.description!=method.description

- if (cl.jquery && Object.keys(cl.jquery).length)
    div.jquery.section
        h3.section-header(rel='/#/' + module + '#SjQuery') jQuery Plugins
            div.section-meta
                a(class='section-permalink', href='/#/' + module + '#SjQuery', alt='Permalink to ' + module + ' jquery plugins', title='Permalink to ' + module + ' jquery plugins')
                    i.icomoon-hash
        each key in Object.keys(cl.jquery).sort()
            - var method = cl.jquery[key]
            - var clazz = (method.inherited || method.overridden) ? 'inherited jquery subsection' : 'jquery subsection'
            div(class=clazz, rel=method.link)
                h4.subsection-header
                    mixin methodDef(method)
                    div.meta
                        a(class='permalink', href=method.link, alt='Permalink to ' + method.longName, title='Permalink to ' + method.longName)
                            i.icomoon-hash
                        a(class='srclink', alt='View Source', title='View Source', href=config.repoview + method.meta.path + '/' + method.meta.filename + '#L' + method.meta.lineno)
                            i.icomoon-code
                - if (method.inherited)
                    div.inherit-info
                        span inherited from&nbsp;
                        a(title=method.inherited.longName, href=method.inherited.link)=method.inherited.name
                - if (method.overridden)
                    div.override-info
                        span overridden from&nbsp;
                        a(title=method.overridden.longName, href=method.overridden.link)=method.overridden.name
                div.description!=method.description
